<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "progressbar" %>
<% end %>
<div class="content-apply">
    <!-- Responsive Arrow Progress Bar -->
    <div class="arrow-steps clearfix p-5">
      <div class="step current"> <span > <a href="#"  >1</a></span> </div>
    </div>

  <div class="apply-form">
    <h2 class="apply-title">APPLY FORM</h2>
    <%= form_for(@apply, url: create_apply_path, method: :post, data: { turbo: false }) do |f| %>
      <div class="mb-3 a-line">
        <label for="exampleInputFullName" class="form-label">FULL NAME:</label>
        <%= f.text_field :fullname, value: "#{current_user.name}" , class: "form-control" %>
      </div>
      <div class="mb-3 a-line">
        <label for="exampleInputEmail1" class="form-label">EMAIL ADDRESS:</label>
        <%= f.email_field :email, value: "#{current_user.email}" , class: "form-control" %>
      </div>
      <div class="mb-3 a-line">
        <label for="exampleInputEmail1" class="form-label">CV:</label>
        <% if current_user.my_cv.present? %>
          <%= f.hidden_field :cv, value: File.basename(current_user.my_cv.url) %>
          <%= link_to "Download CV #{File.basename(current_user.my_cv.url.to_s)}", current_user.my_cv.url, download: true, id: 'exampleInputEmail1', class: 'form-control fs1-6 none-underline' %>
        <% else %>
          <%= link_to "Cập nhật CV", edit_user_registration_path, id: 'exampleInputEmail1', class: 'form-control none-underline' %>
        <% end %>
      </div>
      <% if current_user.my_cv.present? %>
        <%= f.submit "Confirm", class: "btn  btn-outline-success btn-w100"%>
      <%end%>
    <%end%>
  </div>
</div>