<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "progressbar" %>
<% end %>
<div class="content-apply">
  <div class="arrow-steps clearfix p-5">
      <div class="step "> <span > <a href="#"  >1</a></span> </div>
      <div class="step current"> <span><a href="#" >2</a></span> </div>
    </div>
  <div class="apply-form">
    <h2 class="apply-title">APPLY FORM</h2>
    <%= form_for(@apply ,url: submit_apply_path, method: :post) do |f| %>
      <div class="mb-3 a-line">
        <label for="exampleInputFullName" class="form-label">FULL NAME:</label>
        <%= f.text_field :fullname, value: "#{session[:apply]['fullname']}" , class: "form-control" , readonly: true %>
      </div>
      <div class="mb-3 a-line">
        <label for="exampleInputEmail1" class="form-label">EMAIL ADDRESS:</label>
        <%= f.email_field :email, value: "#{session[:apply]['email']}" , class: "form-control" , readonly: true %>
      </div>
      <div class="mb-3 a-line">
        <label for="exampleInputEmail1" class="form-label">CV:</label>
        <%= f.hidden_field :job_id, value: "#{session[:apply]['job_id']}"%>
        <%= f.hidden_field :user_id, value: "#{session[:apply]['user_id']}"%>
        <%= f.text_field :cv, value: "#{session[:apply]['cv']}" , class: "form-control" , readonly: true %>
      </div>
      <div class="block-btn ">
        <%= link_to 'EDIT' , apply_job_path , class: 'btn btn-danger m-2 '%>
        <%= f.submit "DONE", class: "btn btn-success background-green" %>
      </div>
    <%end%>
  </div>
</div>
