
<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary">
    <h2 class="text-center mb-4 text-primary">My page</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control bg-info bg-opacity-10 border border-dark" %>
        <% if @user.errors[:email].any? %>
            <div class="text-danger mb-3">
              <%= form_error_messages(@user, :email) %>
            </div>
          <% end %>
      </div>
      <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control bg-info bg-opacity-10 border border-primary" %>
        <span class="error text-danger">
              <% if @user.errors.has_key?(:name) %>
                <%= @user.errors[:name].first %>
              <% end %>
            </span>
      </div>
      <div class="mb-3">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, class: "form-control bg-info bg-opacity-10 border border-primary" %>
        <% if @user.errors[:password].any? %>
          <div class="text-danger mb-3">
            <%= @user.errors.full_messages_for(:password).first %>
          </div>
        <% end %>
      </div>
      <div class="mb-3">
        <%= f.label :current_password, class: "form-label" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control bg-info bg-opacity-10 border border-primary" %>
        <% if @user.errors[:current_password].any? %>
          <div class="text-danger mb-3">
            <%= @user.errors.full_messages_for(:current_password).first %>
          </div>
        <% end %>
      </div>
      <div class="mb-3">
        <%= f.label :my_cv, class: "form-label" %>
        <%= f.file_field :my_cv, class: "form-control bg-info bg-opacity-10 border border-primary" %>
        <% if @user.errors[:my_cv].any? %>
          <div class="text-danger mb-3">
            <%= @user.errors.full_messages_for(:my_cv).first %>
          </div>
        <% end %>
      </div>
      <div class="actions d-grid mb-3">
        <%= f.submit 'Update', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
