<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container text-center">

    <div class="row ">
        <div class="col ">  <img class="-4 img img-fluid" src="/images/cover-fb-1m-1.webp" style="padding-left: 45px;" alt=""></div>
        <div class="col-6 "></div>
        <div class="col">
            <div class="col ">Login</div>
            <div class="col ">Favorite</div>
        </div>
        <div class="col">
            <div class="col ">Register</div>
            <div class="col ">History</div>
        </div>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
