<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
  <div class="container-fluid">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <div class="row">
  <div class="col-3">
    <%= link_to jobs_path do %>
      <%= image_tag "/images/cover-fb-1m-1.webp", style: "max-width: 100%; max-height: 100px; padding-left: 45px;", alt: "" %>
    <% end %>
  </div>
  <div class="col-4 "></div>
  <div class="col-4 d-flex flex-column justify-content-center">
  <% if user_signed_in? %>
    <div class="row flex-nowrap">
      <div class="col btn btn-success">
        <%= form_tag destroy_user_session_path, method: :delete do %>
                <%= submit_tag "Sign out", class: "btn btn-success" %>
        <% end %>
      </div>
      <div class="col btn btn-success ms-3">Favorite</div>
      <div class="col btn btn-success ms-3">
        <%= link_to 'My Page', my_path %>
      </div>
      <div class="col btn btn-success ms-3">History</div>
    </div>
  <% else %>
    <div class="row flex-nowrap">
      <div class="col btn btn-success">
        <%= link_to 'Sign in', new_user_session_path %>
      </div>
      <div class="col btn btn-success ms-3">Favorite</div>
      <div class="col btn btn-success ms-3">
        <%= link_to 'Register', new_user_registration_path %>
      </div>
      <div class="col btn btn-success ms-3">History</div>
    </div>
  <% end %>
</div>
</div>

</div>

</div>

    <%= yield %>
  </div>
  </body>
</html>